Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [21]:
a = "prabeen"
b = [1,2,5,"Prabeen",True,(6+7j)]
c = 2.5
d = (2,5,8,10,15)

SyntaxError: invalid syntax (3738577158.py, line 1)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘                           
(ii) var2 = ‘[DS, ML , Python]’          
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  
(iv) var4 = 1                          

What will be the data type of the above given variable.

In [ ]:
var1 = ""                         
var2 = "[DS, ML , Python]"          
var3 = ["DS", "ML","Python"] 
var4 = 1 
 
print ("Type of var1 ",type(var1))
print ("Type of var2 ",type(var2))
print ("Type of var3 ",type(var3))
print ("Type of var4 ",type(var4))

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [43]:
a = 23
b = 3

var1 = a / b
var2 = a % b
var3 = a // b
var4 = a ** b

print ("(i) / is the division operatore -> {} / {} = ".format(a,b), var1)
print ("(ii) % is the remainder operatore -> {} / {} = ".format(a,b), var2)
print ("(iii) // is only provide the whole number O/P -> {} / {} = ".format(a,b), var3)
print ("(iV) ** is the power operator -> {} / {} = ".format(a,b), var4)

(i) / is the division operatore -> 23 / 3 =  7.666666666666667
(ii) % is the remainder operatore -> 23 / 3 =  2
(iii) // is only provide the whole number O/P -> 23 / 3 =  7
(iV) ** is the power operator -> 23 / 3 =  12167

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [47]:
l = [1, 2.5, True, "machine learning", (6+5j), [1,2,8], False, "88", bool, 55]

for i in l:
    print ("type of {} is ".format(i), type(i))

type of 1 is  <class 'int'>
type of 2.5 is  <class 'float'>
type of True is  <class 'bool'>
type of machine learning is  <class 'str'>
type of (6+5j) is  <class 'complex'>
type of [1, 2, 8] is  <class 'list'>
type of False is  <class 'bool'>
type of 88 is  <class 'str'>
type of <class 'bool'> is  <class 'type'>
type of 55 is  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [50]:
A = int(input("Enter a number: "))
B = int(input("Enter a Div number: "))

while (A % B == 0):
    print("{} Can be divisible by {}, {} number of times".format(A,B,A/B))
    break

Enter a number: 8
Enter a Div number: 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [51]:
l2 = [12,3,8,15,30,21,22,34,44,131,856,77899,1245,78,90,78,33,9999,47,36]

for i in l2:
    if i % 3 == 0:
        print("{} This number is divisiable by 3".format(i))
else:
    print("List Exhausted")

12 This number is divisiable by 3
3 This number is divisiable by 3
15 This number is divisiable by 3
30 This number is divisiable by 3
21 This number is divisiable by 3
1245 This number is divisiable by 3
78 This number is divisiable by 3
90 This number is divisiable by 3
78 This number is divisiable by 3
33 This number is divisiable by 3
9999 This number is divisiable by 3
36 This number is divisiable by 3
List Exhausted

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. Mutable data type is the datatype which we can change the value and immutable datatype we can't change the value.

In [56]:
l3 = [1,5,"before",86,78]
v = "prabeen"

print("Before changing the list ", l3)
l3[1] = 7
l3[2] = "after"
print("After the change ", l3)

Before changing the list  [1, 5, 'before', 86, 78]
After the change  [1, 7, 'after', 86, 78]