Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a non-relational document database that provides support for JSON-like storage.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

Below Scenario we use MongoDB

1. Storing large volumes of data without structure

2. Using cloud computing and storage.

3. Rapid development.Q2. State and Explain the features of MongoDB.

Q2. State and Explain the features of MongoDB.

MongoDB supports Master Slave replication. MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure. It has an automatic load balancing configuration because of data placed in shards.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.llbfxr5.mongodb.net/?retryWrites=true&w=majority")

db = client["pwskills1"]
coll_create = db["my_recordS"]

In [3]:
data = {"name" : "Prabeeen",
        "class" : "data science masters",
        "timing " : "5PM",
        "duration" : "9 Months"
}

In [4]:
coll_create.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}

In [6]:
coll_create.insert_one(data2)

In [7]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [8]:
coll_create.insert_many(data3)

In [9]:
coll_create.find_one()

{'_id': ObjectId('64c4d8c0fbfc6241f15ee699'),
 'name': 'Prabeeen',
 'class': 'data science masters',
 'timing ': '5PM',
 'duration': '9 Months'}

In [10]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64c4d8c0fbfc6241f15ee699'), 'name': 'Prabeeen', 'class': 'data science masters', 'timing ': '5PM', 'duration': '9 Months'}
{'_id': ObjectId('64c4d927fbfc6241f15ee69a'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a6'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [12]:
#We can ittreate the find menthod to print the records from collection

for i in coll_create.find():
    print(i)

{'_id': ObjectId('64c4d8c0fbfc6241f15ee699'), 'name': 'Prabeeen', 'class': 'data science masters', 'timing ': '5PM', 'duration': '9 Months'}
{'_id': ObjectId('64c4d927fbfc6241f15ee69a'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee69f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64c4d94dfbfc6241f15ee6a6'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [20]:
'''To sort documents in MongoDB, you need to use sort() method. 
The method accepts a document containing a list of fields along with their sorting order. 
To specify sorting order 1 and -1 are used. 1 is used for ascending order 
while -1 is used for descending order.'''

coll_create.find().sort({"name":1})

TypeError: if no direction is specified, key_or_list must be an instance of list

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [22]:
#This will delete very 1st date

my_query = {'name': 'Amy'}
coll_create.delete_one(my_query)

#below query will delete many records

coll_create.delete_many({})

#drop will drop the full DB

coll_create.drop()