Q1. What is a database? Differentiate between SQL and NoSQL databases.

DBMS -
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL and NoSQL databases -
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL -
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

The CREATE TABLE command creates a new table in the database
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

The ALTER TABLE command adds, deletes, or modifies columns in a table.

ALTER TABLE Customers
ADD Email varchar(255);

The DROP TABLE command deletes a table in the database.

DROP TABLE Shippers;

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.

The INSERT INTO command is used to insert new rows in a table.
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

The UPDATE command is used to update existing rows in a table.
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;

The DELETE command is used to delete existing records in a table.
DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';

Q4. What is DQL? Explain SELECT with an example.

DQL -
Data Query Language

Select Statement -
SELECT * FROM table_name;
It will select all the columnjs from table

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost"
    user = "abc"
    password = "password"
)
print(mydb)
mycursore = mydb.cursor()
mycursore.execute("show database")
for x in mycursore:
    print(x)
    
'''Cursore() - Using the methods of it you can execute SQL statements, 
fetch data from the result sets, call procedures.
execute() -This method accepts a MySQL query as a parameter and executes the given query.'''

Q7. Give the order of execution of SQL clauses in an SQL query.

For SELECT Statement below is the order
SELECT * FROM TABLE_NAME WHERE CONDITION