Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
data1 = [1,2,3,4,5,6,7,8,9,10]
series1 = pd.Series(data1)
print(series1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire
Age
25
30
27
Gender
Female
Male
Female
Then, print the DataFrame.

In [5]:
data2 = {'Name': ['Alice', 'Bob', 'Claire'],
         'Age': [25, 30, 27],
         'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data2)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
'''In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data 
structure with labeled axes (rows and columns). It can be thought of as a table, similar to a spreadsheet 
or SQL table, where each column can have a different data type. DataFrames allow for easy manipulation, 
analysis, and handling of data.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. 
It's like a single column of data or a single-dimensional array. Series objects have both a data array 
(like a NumPy array) and an associated array of data labels, called an index.'''

#Series Examplpe
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

#DataFrame Example
data2 = {'Name': ['Alice', 'Bob', 'Claire'],
         'Age': [25, 30, 27],
         'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data2)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [14]:
#to fetch columns in DataFrame
df.columns
#to fetch 1st 5 records from Dataframe
df.head()
#to fetch last 5 records from Dataframe
df.tail()
#to show teh datatype of each column
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, Panel, both Series and DataFrame are mutable in nature, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combining the Series into a DataFrame
data3 = {'Name': names,
          'Age': ages,
          'Gender': genders}

df3 = pd.DataFrame(data3)
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female